# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast

# Docs
docs/

# Dotenv file
.env

deployment.json
node_modules/
.specstory/
.gitpod.yml
pnpm-lock.yaml
count_lines.py
lib
lib/